# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
/mpc_local_env/
venv/
ENV/
env/
.venv/

# Logs & Indices
logs/
faiss_indices/

# SQLite Database
mpc_local.db
*.db
*.sqlite
*.sqlite3

# FAISS Index
*.bin

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
